<div class="denizen-container">
	<div class="sw-hit-cell denizen-name">
		<div class="denizen-label" [ro-i18n] eikey="denizens.labels.denizenName"></div>
		<div class="denizen-value denizen-name" title="{{ denizen.name }}">{{ denizen.name }}</div>
	</div>
	<div class="sw-hit-cell denizen-birthdate">
		<div class="denizen-label" [ro-i18n] eikey="denizens.labels.birthdate"></div>
		<div id="sw-birth-date-{{ denizen.id }}" class="denizen-value denizen-bdate" title="{{ denizen.formattedBirthDate }}">{{ denizen.birthYear }}</div>
	</div>
	<div class="sw-hit-cell denizen-homeworld">
		<div class="denizen-label" [ro-i18n] eikey="denizens.labels.homeWorld"></div>
		<div id="sw-home-world-{{ denizen.id }}" class="denizen-value denizen-home-world">{{ denizen.homeWorldName }}</div>
	</div>
	<div class="sw-tools-cell" id="sw-tools-{{ denizen.id }}">
		<div id="sw-command-fave-{{ denizen.id }}" [style.display]="none" class="denizen-edit-commands clickable" title="{{ i18nService.getMessage('denizens.commands.fave') }}" (click)="toggleFave(denizen)"><i *ngIf="!denizen.Faved" class="fa fa-heart-o"></i><i *ngIf="denizen.Faved" class="fa fa-heart-o"></i></div>
	</div>
</div>
